* {
    box-sizing: border-box;
    
}
html {
    height: 100%;
}
main {
    font-family: 'Heebo', sans-serif;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
}
header {
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 110%;
}
.ingr-search-field {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    height: 100px;;
}
.add-section {
    width:50%;
    display: block;
    
}

.add-ingredient {
    margin-top: 0;
    margin-bottom: 5px;
}

}